

$color-grey-dark-1:#263238;
$color-grey-dark-2:#37474f;
$color-grey-light-1:#fafafa;
$color-grey-light-2:#bfbfbf;

$shadow-dark:0 4px 8px rgba(0, 0, 0, 0.2);
$shadow-dark-2:0 4px 20px rgba(0, 0, 0, 0.8);